
<%= javascript_include_tag "http://api.eventful.com/js/api" %>

<!-- ========== HEADER SECTION ========== -->
<div id="headerwrap">
	<div class="container">
		<div class="row">
			<div id="home-title">
				<h1>Let's Ride</h1>
				<h3>The event based carpool app</h3>
			</div>
			
		
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<input type="text" class="form-control" id="keyword-input" placeholder="Your Event">
				</div>
				<div class="col-sm-6 col-sm-offset-3">
			    <input type="text" class="form-control" id="location-input" placeholder="Los Angeles, CA">
			  </div>
			  <div class="col-sm-6 col-sm-offset-3">
			    <button id="search-button" class="btn btn-md btn-danger btn-block">
			    <span class="glyphicon glyphicon-search"</span>
			    </button>
				</div>
			</div>
			

			<div id="results-container" class="row">
				
			</div>

			<!-- New Ride Modal -->
			<div class="modal fade" id="newRideModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel"><strong>Create a Ride</strong></h4>
			      </div>
			      <div class="modal-body">

			      	<%= form_for(:ride, url: rides_path) do |f| %>

			      		<%= f.text_field :eventful_id, class: 'hidden'%>

			      	  <%= f.label :zipcode %>
			      	  <%= f.text_field :zipcode, class: 'form-control' %>

			      	  <%= f.label :num_seats, "Available seats" %>
			      	  <%= f.number_field :num_seats, min: 1, class: 'form-control' %>

			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			          <%= f.submit "Create Ride", class: "btn btn-danger" %>
			        <% end %>
			      </div>
			    </div>
			  </div>
			</div>

			<!-- Zipcode modal -->
			<div class="modal fade" id="zipcodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Please Enter Your Zipcode</h4>
			      </div>
			      <div class="modal-body">
			      	<input type="text" id="zipcodeInput" placeholder="ex: 90210">
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			        <button type="button" id= "look-for-rides" class="btn btn-primary">Look For Rides</button>
			      </div>
			    </div>
			  </div>
			</div>

			<div id="logged-in" class="hidden"><%= logged_in? %></div>

		</div>
	</div><!-- /container -->
</div><!-- /headerwrap -->

