<%= form_for @user do |f| %>
  <%= render 'shared/flash' %>
  <div class="form-group"> 
    <%= f.label :first_name, class: "control-label" %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div> 
  <div class="form-group"> 
    <%= f.label :last_name, class: "control-label" %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div> 
  <div class="form-group"> 
    <%= f.label :email, class: "control-label" %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
   <div class="form-group"> 
    <%= f.label :password, class: "control-label" %>
    <%= f.password_field :password, class: "form-control" %>
  </div> 
  <div class="form-group"> 
    <%= f.label :password_confirmation, class: "control-label" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div>
    <%= f.file_field :avatar %> 
  </div>
  <div>
    <br>
  </div>
  <div>
    <%= f.submit @submit_message, class: "btn btn-primary" %>
  </div>
<% end %>